/*PC*/

@media screen and (min-width: 768px) {

  body{
    width: 100%;
    margin: 0px;
    min-width: 980px;
  }

  #top-carusel{
    width: 100%;
    height: 50%;
  }

  .top-pic{
    width: 100%;
    height: auto;
  }

  h2{
    margin-top: 5%;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(185, 185, 185);
  }

  p{
    font-size: 1.2rem;
  }

header{
  position: relative;
  height: 60px;
}

#logo{
  position: absolute;
  left:0%;
  padding: 1% 2%;
  font-weight: bold;
  font-size: 1.3rem;
  color:rgb(58, 118, 248);
}

nav{
  position: absolute;
  text-align: center;
  right: 0%;
  margin: 1% 2%;
}

.nav-ani{
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color:black;
  transition: all 0.5s 0s ease-out;
}

.nav-ani:hover {
  color: rgb(127, 127, 127);
 }

#profile{
  width: 90%;
  padding: 0% 5%;
}

#pro-table{
  font-size: 1.2rem;
}

.link{
  font-weight: bold;
  color: rgb(101, 7, 209);
  text-decoration: none;
}

.pro-title{
  width: 15%;
  font-weight: bold;
}

.pro-data{
  padding: 1.5% 0%;
}

#hobby{
  width: 90%;
  padding: 0% 5%;
}

.hobby-pic{
  width: 35%;
  height: 35%;
  border-radius: 20%;
  margin: 3% 0%;
}

#hobby-main{
  width: 100%;
  overflow: hidden;
}

#hobby-block1{
  display: flex;
  flex-direction: row;
}

#hobby-block2{
  display: flex;
  flex-direction: row-reverse;
}

#hobby-block3{
  display: flex;
  flex-direction: row;
}

.hobby-text{
  margin: auto 3%;
  padding: 2%;
  background-color: azure;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  box-shadow: 2px 2px 3px 0px rgb(181, 181, 181);
}

.hobby-text>h4{
  font-size: 1.4rem;
  margin: 0%;
}

.slideIn{
  opacity: 0;
  transform: translateX(200px);
  transition: all 3s 0s ease-out;
}

.slideIn2{
  opacity: 0;
  transform: translateX(-200px);
  transition: all 3s 0s ease-out;
}

.animated {
  opacity: 1;
  transform: translateX(0);}


#career{
  width: 90%;
  padding: 0% 5%;
}

#career-table{
  font-size: 1.2rem;
}

.career-title{
  width: 30%;
  font-weight: bold;
  padding: 1.5% 0%;
}

.career-data{
  padding: 1.5% 0%;
}




#message{
  width: 90%;
  padding: 0% 5%;
  
}

#message > p{
  margin: 2%;
  padding: 5%;
  border-radius: 10%;
  background-color: azure;
  box-shadow: 2px 2px 3px 0px rgb(181, 181, 181);
}

#footer{
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}

#footer > h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 30px;
}

#footer > p {
  text-align: center;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

#footer-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 5px;
}

#footer-flex > a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

#footer-flex > a:hover{
  text-decoration: underline;
}

#mail > a{
  font-weight: bold;
  color: white;
  
}
}


/*スマホ*/
@media screen and (max-width: 767px) {

  body{
    width: 100%;
    margin: 0px;
    min-width: 980px;
  }
  
  #top-carusel{
    width: 100%;
    height: 50%;
  }
  
  .top-pic{
    width: 100%;
    height: auto;
  }
  
  h2{
    margin-top: 5%;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(185, 185, 185);
  }
  
  p{
    font-size: 1.2rem;
  }
  
  header{
    position: relative;
    height: 60px;
  }
  
  #logo{
    position: absolute;
    left:0%;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 1.3rem;
    color:rgb(58, 118, 248);
  }
  
  #nav-pc{
    display:none;
  }
  
  #profile{
    width: 90%;
    padding: 0% 5%;
  }
  
  #pro-table{
    font-size: 1.2rem;
  }
  
  .link{
    font-weight: bold;
    color: rgb(101, 7, 209);
    text-decoration: none;
  }
  
  .pro-title{
    width: 15%;
    font-weight: bold;
  }
  
  .pro-data{
    padding: 1.5% 0%;
  }
  
  #hobby{
    width: 90%;
    padding: 0% 5%;
  }
  
  .hobby-pic{
    width: 60%;
    height: 50%;
    border-radius: 20%;
    margin: 3% 0%;
  }
  
  #hobby-main{
    text-align: center;
  }

  .hobby-text{
    margin: auto 3%;
    padding: 2%;
    background-color: azure;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    box-shadow: 2px 2px 3px 0px rgb(181, 181, 181);
  }
  
  .hobby-text>h4{
    font-size: 1.4rem;
    margin: 0%;
  
  }

  .slideIn{
    opacity: 0;
    transform: translateX(200px);
    transition: all 2s 0s ease-out;
  }
  
  .slideIn2{
    opacity: 0;
    transform: translateX(-200px);
    transition: all 2s 0s ease-out;
  }
  
  .animated {
    opacity: 1;
    transform: translateX(0);}
  
  #career{
    width: 90%;
    padding: 0% 5%;
  }
  
  #career-table{
    font-size: 1.2rem;
  }
  
  .career-title{
    width: 30%;
    font-weight: bold;
    padding: 1.5% 0%;
  }
  
  .career-data{
    padding: 1.5% 0%;
  }
  
  
  
  
  #message{
    width: 90%;
    padding: 0% 5%;
    
  }
  
  #message > p{
    margin: 2%;
    padding: 5%;
    border-radius: 10%;
    background-color: azure;
    box-shadow: 2px 2px 3px 0px rgb(181, 181, 181);
  }
  
  #footer{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
  }
  
  #footer > h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
  }
  
  #footer > p {
    text-align: center;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
  }
  
  #footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 5px;
  }
  
  #footer-flex > a{
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  #mail > a{
    font-weight: bold;
    color: white;
    
  }
  }
